<div class="modal-dialog cascading-modal">
  <div class="modal-content">
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title" id="modal-basic-title">Edycja produktu {{product.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form [formGroup]="editForm" class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name">Nazwa produktu</label>
              <input type="text" class="form-control" id="name" name="name" formControlName="name"
                     value={{product.name}}
                     required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="category">Kategoria</label>
              <input type="text" class="form-control" id="category" name="category"
                     formControlName="category"
                     value={{product.category}} required>
            </div>
          </div>

          <div class="mb-3">
            <label for="description">Opis
              <span class="text-muted">(opcjonalny)</span>
            </label>
            <textarea type="text" class="form-control" id="description" placeholder={{product.description}}
                      name="description"
                      formControlName="description"></textarea>
          </div>



          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="price">Cena</label>
              <input type="number" name="price" class="form-control" formControlName="price"
                     value={{product.price}}
                     id="price" required>
              <div class="invalid-feedback">
                Cena jest wymagana
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="quantity">Ilość</label>
              <input type="number" class="form-control" id="quantity" name="quantity"
                     formControlName="quantity" value={{product.quantity}}
                     required>
              <div class="invalid-feedback">
                Ilość jest wymagana
              </div>
            </div>
          </div>

          <div class="row">
            <div class="mb-3">
              <label for="imageUrl">Zdjęcie</label>
              <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl"
                     name="imageUrl"
                     value={{product.imageUrl}} required>
            </div>
          </div>

          <div class="row">
            <div class="text-center mt-2">
              <button class="btn btn-info waves-light" id="editButton" mdbRippleRadius
                      [disabled]="!editForm.valid" (click)="edit()">Zatwierdź<i class="fa fa-sign-in ml-1"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
