<div class="btn-group mb-4 center" role="group" aria-label="Basic example">
  <button type="button" (click)="filter('OCZEKUJĄCE')" class="btn btn-primary">Oczekujące</button>
  <button type="button" (click)="filter('W TRAKCIE')" class="btn btn-primary">W trakcie realizacji</button>
  <button type="button" (click)="filter('SKOMPLETOWANE')" class="btn btn-primary">Zrealizowane</button>
</div>

<table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
  <tbody>
  <tr *ngFor="let order of orderList | async">
    <app-order [order]="order"></app-order>
  </tr>
  </tbody>
</table>
