<div class="btn-group mb-4 center" role="group" aria-label="Basic example">
  <button type="button" (click)="filter('OCZEKUJĄCE')" class="btn btn-primary">Oczekujące</button>
  <button type="button" (click)="filter('W TRAKCIE')" class="btn btn-primary">W trakcie realizacji</button>
  <button type="button" (click)="filter('SKOMPLETOWANE')" class="btn btn-primary">Zrealizowane</button>
</div>

<table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th class="th-sm">email
    </th>
    <th class="th-sm">miasto
    </th>
    <th class="th-sm">adres
    </th>
    <th class="th-sm">telefon
    </th>
    <th class="th-sm">suma
    </th>
    <th class="th-sm">status
    </th>
    <th class="th-sm">data wysyłki
    </th>
    <th class="th-sm">kompletuj
    </th>
    <th class="th-sm">zrealizuj całość
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of orderList | async">
    <td>
      {{item.email}}
    </td>
    <td>
      {{item.city}}
    </td>
    <td>
      {{item.address}}
    </td>
    <td>
      {{item.phone}}
    </td>
    <td>
      {{item.totalPrice}}
    </td>
    <td>
      {{item.status}}
    </td>
    <td>
      {{item.sendDate}}
    </td>
    <td>
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#completingOrderDatatable" data-placement="top" title="Kompletuj zamówienie">
          Szczegóły zamówienia
      </button>
    </td>
    <td>
      <button class="btn btn-success btn-block" [disabled]="false" [hidden]="item.status === getCompletedOrderStatus()"
              (click)="completeOrder(item)">Dokończ zamówienie
      </button>
    </td>





    <div class="modal fade" id="completingOrderDatatable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
          <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">
              <h4 class="title">
                <i class="fa fa-edit"></i> Kompletowanie zamówienia </h4>
              <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
          </div>
      </div>
    </div>

























  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th class="th-sm">email
    </th>
    <th class="th-sm">miasto
    </th>
    <th class="th-sm">adres
    </th>
    <th class="th-sm">telefon
    </th>
    <th class="th-sm">suma
    </th>
    <th class="th-sm">status
    </th>
    <th class="th-sm">data wysyłki
    </th>
    <th class="th-sm">kompletuj
    </th>
    <th class="th-sm">zrealizuj całość
    </th>
  </tr>
  </tfoot>
</table>
