<section class="mb-4">
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Złóż zamówienie</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Gdzie Twoje zamówienie ma zostać dostarczone?</p>

  <div class="row">

    <!--Grid column-->
    <div class="col-md-12 mb-md-0 mb-5">
      <form [formGroup]="orderForm" (ngSubmit)="createOrder()">

        <div class="form-row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="firstname" name="firstname" class="form-control text-line"
                     formControlName="firstname" placeholder="Imię">
              <div *ngIf="orderForm.controls['firstname'].errors">
                <div [hidden]="!orderForm.controls['firstname'].errors.required" class="cross-validation-error-message alert alert-danger"  >*Proszę podać imię</div>
                <div [hidden]="!orderForm.controls['firstname'].errors.minlength">*Za mało literek</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="lastname" class="form-control" formControlName="lastname" placeholder="Nazwisko">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="address" name="address" class="form-control" formControlName="address" placeholder="Adres">
            </div>
          </div>
          <div class="col-md-3">
            <div class="md-form mb-0">
              <input type="text" id="postalCode" name="postalCode" class="form-control" formControlName="postalCode" placeholder="Kod pocztowy">
            </div>
          </div>
          <div class="col-md-3">
            <div class="md-form mb-0">
              <input type="text" id="city" name="city" class="form-control" formControlName="city" placeholder="Miasto">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="email" name="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input type="text" id="phone" name="phone" class="form-control" formControlName="phone" placeholder="Numer telefonu">
            </div>
          </div>
        </div>

        <div class="row">
          <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!orderForm.valid" >Dokończ zamówienie</button>
        </div>
      </form>
    </div>

  </div>
</section>
<!--Section: Contact v.2-->
