<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="categoryFilter"></label>
        <ng-multiselect-dropdown
          id="categoryFilter"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="form-group">
          <label for="nameFilter">Wyszukiwanie</label>
          <input type="text" class="form-control" id="nameFilter" name="nameFilter"
                 [(ngModel)]="filterByName"/>
        </div>
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="form-group">
          <label for="lowerPriceBound">Od ceny</label>
          <input type="number" class="form-control" id="lowerPriceBound" name="lowerPriceBound"
                 [(ngModel)]="lowerPriceBound"/>
        </div>
      </div>
      <div class="row">
          <div class="form-group">
            <label for="upperPriceBound">Do ceny</label>
            <input type="number" class="form-control" id="upperPriceBound" name="upperPriceBound"
                   [(ngModel)]="upperPriceBound"/>
          </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="perPage">Liczba ofert na stronę</label>
          <select class="form-control" name="" id="perPage" [(ngModel)]="perPage">
            <option *ngFor="let page of pages" [ngValue]="page">{{page}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 mb-2"
               *ngFor="let product of productList | async | filterByCategory: selectedItems | filterByName: filterByName | lowerPriceBound: lowerPriceBound | upperPriceBound: upperPriceBound | paginate: { itemsPerPage: perPage, currentPage: page }"
          >
            <app-product [product]="product"></app-product>
          </div>
        </div>
        <div class="text-center mt-3">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
