<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="categoryFilter"></label>
        <select class="form-control" name="" id="categoryFilter" [(ngModel)]="filterByCategory">
          <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <label for="nameFilter"></label>
      <div class="form-group">
        <input type="text" class="form-control" id="nameFilter" name="nameFilter"
               [(ngModel)]="filterByName"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="lowerPriceBound"></label>
        <input type="number" class="form-control" id="lowerPriceBound" name="lowerPriceBound"
               [(ngModel)]="lowerPriceBound"/>
      </div>
    </div>
    <div class="col-md-6">
      <label for="upperPriceBound"></label>
      <div class="form-group">
        <input type="number" class="form-control" id="upperPriceBound" name="upperPriceBound"
               [(ngModel)]="upperPriceBound"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-2"
         *ngFor="let product of productList | async | filterByCategory: filterByCategory | filterByName: filterByName | lowerPriceBound: lowerPriceBound | upperPriceBound: upperPriceBound | paginate: { itemsPerPage: 2, currentPage: page }"
    >
      <div class="item">
        <div class=" mb-r">
          <!--Card-->
          <div class="card card-cascade  card-ecommerce wider">
            <!--Card image-->
            <div class="view view-cascade overlay">
              <img class="card-img-top" [src]="product.imageUrl"
                   alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body card-body-cascade text-center">
              <!--Category & Title-->
              <h5>{{ product.category }}</h5>
              <h4 class="card-title"><strong><a href=""> {{product.name }} </a></strong></h4>

              <!--Description-->
              <p class="card-text">{{ product.description }}</p>

              <!--Card footer-->
              <div class="container" *ngIf="isProductAvailable(product)">
                <div class="card-footer">
                  <span class="float-left">{{ product.price }} PLN</span>
                  <span class="float-right">
                    <a  class="active" data-toggle="tooltip" data-placement="top" title="Dodaj do koszyka"
                        (click)="addToCart(product)"><i class="fa fa-cart-plus"
                                                        aria-hidden="true"></i></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center mt-3">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
