<div class="card mb-4 box-shadow">
  <img class="card-img-top" data-src={{product.url}}
       alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{product.description}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" (click)="getBasketService().add_product(product)"
                class="btn btn-sm btn-outline-secondary">Dodaj
        </button>
        <button type="button" (click)="getBasketService().remove_product(product)"
                class="btn btn-sm btn-outline-secondary">Usun cały produkt
        </button>
        <button type="button" (click)="getBasketService().reduce_product_counter(product)"
                class="btn btn-sm btn-outline-secondary">Usun pojedynczy produkt
        </button>
      </div>
      <small class="text-muted">9 mins</small>
    </div>
  </div>
</div>
