<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-3">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div *ngFor="let product of cartProducts">
            <div class="row">
              <div class="col-xs-2"><img class="img-responsive" src="{{product.imageUrl}}">
              </div>
              <div class="col-xs-4">
                <h4 class="product-name"><strong>{{product.name}}</strong></h4>
                <h4>
                  <small>{{product.description}}</small>
                </h4>
              </div>
              <div class="col-xs-6">
                <div class="col-xs-6 text-right">
                  <h6><strong>{{product.price}}<span class="text-muted">x</span></strong></h6>
                </div>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-sm" value="{{product.quantity}}">
                </div>
                <div class="col-xs-2">
                  <a placement="top" mdbTooltip="Usuń produkt" container="body" (click)="removeCartProduct(product)">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row text-center">
            <div class="col-xs-6">
              <h4 class="text-right">Suma <strong>{{totalValue}}</strong></h4>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-success btn-block" [routerLink]="[ '/products/checkout' ]" >
                Złóż zamówienie
              </button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-primary btn-block" [routerLink]="[ '/products/all-products' ]" >
                Kontynuuj zakupy
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
