<form [formGroup]="productForm" (ngSubmit)="createProduct()">
<div class="row">
    <div class="col-md-6 mb-3">
      <label for="name">Nazwa produktu</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name"
             placeholder="nazwa"
             value="" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="productCategory">Kategoria</label>
      <input type="text" class="form-control" id="productCategory" name="productCategory"
             formControlName="category"
             placeholder="kategoria" value="" required>
    </div>
  </div>

  <div class="mb-3">
    <label for="productDescription">Opis
      <span class="text-muted">(opcjonalny)</span>
    </label>
    <textarea type="text" class="form-control" id="productDescription" placeholder="Tutaj opis..."
              name="productDescription"
              formControlName="description"></textarea>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="productPrice">Cena</label>
      <input type="number" name="productPrice" class="form-control" formControlName="price"
             placeholder="cena"
             id="productPrice" value="" required>
      <div class="invalid-feedback">
        Cena jest wymagana
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="productQuatity">Ilość</label>
      <input type="number" class="form-control" id="productQuatity" name="productQuatity"
             formControlName="quantity" placeholder="ilość"
             value="" required>
      <div class="invalid-feedback">
        Ilość jest wymagana
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="productImageUrl">Zdjęcie</label>
    <input type="text" class="form-control" id="productImageUrl" formControlName="imageUrl"
           name="productImageUrl"
           placeholder="URL zdjęcia..." required>
  </div>

  <hr class="mb-4">

  <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!productForm.valid">Add Product</button>
</form>
