<form [formGroup]="productForm" (ngSubmit)="createProduct()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="name">Nazwa produktu</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name"
             placeholder="nazwa"
             value="" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="category">Kategoria</label>
      <select class="form-control" name="category" id="category" formControlName="category">
        <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
      </select>
    </div>
  </div>

  <div class="mb-3">
    <label for="description">Opis
      <span class="text-muted">(opcjonalny)</span>
    </label>
    <textarea type="text" class="form-control" id="description" placeholder="Tutaj opis..."
              name="description"
              formControlName="description"></textarea>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="price">Cena</label>
      <input type="number" name="price" class="form-control" formControlName="price"
             placeholder="cena"
             id="price" value="" required>
      <div class="invalid-feedback">
        Cena jest wymagana
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="quantity">Ilość</label>
      <input type="number" class="form-control" id="quantity" name="quantity"
             formControlName="quantity" placeholder="ilość"
             value="" required>
      <div class="invalid-feedback">
        Ilość jest wymagana
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="imageUrl">Zdjęcie</label>
    <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl"
           name="imageUrl"
           placeholder="URL zdjęcia..." required>
  </div>

  <hr class="mb-4">

  <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!productForm.valid">Dodaj produkt</button>
</form>
